doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/accueil.css')
        title Document
    body
    include ./navbar.pug
    div.slide-bar
      div.titles
       h1 Ne manquez pas nos promotions du moments
       h3 25% DE REDUCTION AVEC LE CODE 
        i ACCESS
       button ACHETEZ <br/> MAINTENANT
    section
     h1 Nos Collections <hr>
     div.section_2
      div.femme
       h3 FEMME
       p Venez découvrir notre collection
        button Voir Catalogue
      div.lagirl
        h3 La Girl
        p Venez découvrir notre collection
        button Voir Catalogue
      div.homme
        h3 Homme
        p Venez découvrir notre collection
        button Voir Catalogue
    section 
     div.banner
      h1 Lou bess Takk boulako <br/> Keneu Netali!!! 
      <button>VOIR CATALOGUE</button>                   
    include ./footer.pug   
            
     