doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Document
    body
     footer.section_5
      div.les-links
       div.logo-footer
        img(src="/images/MN couture2.png" alt="")
        h3 Le meilleur look à tout moment, n'importe où.
       div.lien-rapides
        h3 Liens Rapides
         ul
          li 
           a(href="/"): h3 Accueil
          li
           a(href="./services"): h3 Services
          li 
           a(href="./contact"): h3 Contact  