doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Document
    body 
        nav.navbar 
            div.nav-logo
                img(src="/images/MN couture3.png", alt="not")
            ul.nav-links
                li 
                    a(href="/"): h3 Accueil
                li
                    a(href="./services"): h3 Services
                li 
                    a(href="./contact"): h3 Contact
        

        