doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/services.css')
        title Document
    body
    include ./navbar.pug 
    div.slide-bar
     h1 Nos Services
    section#services
     ul
      li#service1 
       p Robe Weeding
      li#service2 
       p Robe Soirée
      li#service3 
       p Boubou Traditionnel
    include ./footer.pug